body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    margin: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

#camera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

video {
    width: 100%; /* Die Breite des Videos auf 100% setzen */
    height: auto; /* Das Seitenverhältnis beibehalten */
}

input {
    width: 64px;
    height: 64px;
    background-color: #3388FFCC;
    border-radius: 25%;
    border: 4px solid #3388FFFF;
    padding: 12px;
    margin: 24px;
}

input:disabled {
    filter: opacity(0.50);
}

div#buttons {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    div#buttons {
        position: fixed;
        bottom: 0;
    }

    input {
        width: 48px;
        height: 48px;
        padding: 8px;
        margin: 18px;
    }
}